<div id="<%= dom_id report %>">
  <div>
    <strong>Modo:</strong>
    <%= report.modo %>
  </div>

  <div>
    <strong>Nome:</strong>
    <%= report.nome %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= report.email %>
  </div>

  <div>
    <strong>Categoria:</strong>
    <%= report.categoria %>
  </div>

  <div>
    <strong>Local:</strong>
    <%= report.local %>
  </div>

  <div>
    <strong>Descricao:</strong>
    <%= report.descricao %>
  </div>

  <div>
    <strong>Protocolo:</strong>
    <%= report.protocolo %>
  </div>

</div>
